// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header_height: 40px;
$sidebar_width: 20%;
$footer_height: 25px;

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: $header_height;
    width: 100%; 
    background: #FAFAFA;
    display: flex;
    align-items: center;
    svg {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#editor {
    position: absolute;
    top: $header_height;
    right: 0;
    bottom: $footer_height;
    left: 0;
}


 .rightButtons {
    margin-left: auto;
    display: flex;
    a {  
        padding: 8px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
        background: #eeeeee; /* Old browsers */
        background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
        display: block;
        margin-right: 10px;
        text-decoration: none;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }
 }

#footer {
    position: absolute;
    height: $footer_height;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FAFAFA; 
    display: flex;  
    span {
        margin-left: 15px;
        margin-right: 5px;
        font-size: 12px;
        vertical-align: middle;
        padding-top: 3px;
    }
    div {
        margin-right: 10px;
    }
}