// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header_height: 40px;
$sidebar_width: 20%;
$footer_height: 25px;
$terminal_height: 176px;
$files_bar: 32px;



#header {
    position: absolute;
    top: 0;
    left: 0;
    height: $header_height;
    width: 100%; 
    background: #FAFAFA;
    display: flex;
    align-items: center;

    svg.logo {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -5px;
    }
    a {
        width: 40px;
        text-align: center;
    }
}

#filesbar {
    position: absolute;
    top: $header_height;
    height: $files_bar;
    right: 0; 
    left: 0;
    background-color: #e5e5e5; 
    padding-top: 3px;
    input {
        margin-left:1px;
        text-decoration: none;
        background-color: #f3f3f3;
        padding: 5px;  
        border: 0px;
        line-height: 18px;
        font-weight: 600;
        text-align: center;
    }
    input:focus {
        outline: none;
    }
}

#editor {
    position: absolute;
    top: $header_height + $files_bar;
    right: 0;
    bottom: $footer_height + $terminal_height;
    left: 0;
    font-size: 11px;
}


 .rightButtons {
    margin-left: auto;
    display: flex;
    line-height: 40px;

    a {   
        border-left: 1px solid #dadada;
        display: block; 
        text-decoration: none;
    }

    a:hover {
        background: none;
    }
 }

#terminal {
    position: absolute;
    bottom: $footer_height;
    height: $terminal_height;
    left: 0;
    width: 100%;
    overflow: scroll; 
    .xterm {
        padding: 5px;
    }
}

#footer {
    position: absolute;
    height: $footer_height;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FAFAFA; 
    display: flex;  
    span {
        margin-left: 15px;
        margin-right: 5px;
        font-size: 12px;
        vertical-align: middle;
        padding-top: 3px;
    }
    div {
        margin-right: 10px;
    }
}