// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header_height: 40px;
$sidebar_width: 20%;
$footer_height: 25px;
$terminal_height: 166px;
$files_bar: 32px;
$chat_zone_width: 300px;


.overlay{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.4);
    z-index: 100;
    justify-content: center;
    display: flex;

    .fb_iframe_widget {
        margin-top: auto;
        margin-bottom: auto;
    }
}

// #chatZone {
//     position: absolute;
//     top: $header_height;
//     right: 0;
//     bottom: $footer_height;
//     width: $chat_zone_width;
//     z-index: 10;
//     background-color: #fff;
//     border-left: 1px solid #dedede;
//     border-bottom: 1px solid #dedede;
//     border-top: 1px solid #dedede;
//     a {
//         padding-left: 60px;
//         padding-right: 60px;
//         text-decoration: none;
//         display: block;
//     }
//     a:hover {
//         background: none;
//     }
//     h3 {
//         color: #c0c0c0;
//         font-family: helvetica;
//     }

//     .noStreamingMessage {
//         padding: 40px;
//         text-align: center;
//     }
// }

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: $header_height;
    width: 100%; 
    background: #FAFAFA;
    display: flex;
    align-items: center;

    svg.logo {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -5px;
    }
    a.golive {
        width: 64px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 8px;
        height: 30px;
    }
    a {
        width: 40px;
        text-align: center;
        padding-top: 5px;
    }
}

#filesbar {
    position: absolute;
    top: $header_height;
    height: $files_bar;
    right: 0; 
    left: 0;
    background-color: #e5e5e5; 
    padding-top: 3px;
    input {
        margin-left:1px;
        text-decoration: none;
        background-color: #f3f3f3;
        padding: 5px;  
        border: 0px;
        line-height: 18px;
        font-weight: 600;
        text-align: center;
    }
    input:focus {
        outline: none;
    }
}

#editor {
    position: absolute;
    top: $header_height + $files_bar;
    right: 0;
    bottom: $footer_height + $terminal_height;
    left: 0;
    font-size: 11px;
}


 .rightButtons {
    margin-left: auto;
    display: flex;
    line-height: 40px;

    a {   
        border-left: 1px solid #dadada;
        display: block; 
        text-decoration: none;
    }

    a:hover {
        background: none;
    }
 }

#terminal {
    position: absolute;
    bottom: $footer_height;
    height: $terminal_height;
    left: 0;
    right: 0;
    overflow: scroll; 
    .xterm {
        padding: 5px;
    }
}

#footer {
    position: absolute;
    height: $footer_height;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FAFAFA; 
    display: flex;  
    span {
        margin-left: 15px;
        margin-right: 5px;
        font-size: 12px;
        vertical-align: middle;
        padding-top: 3px;
    }
    div {
        margin-right: 10px;
    }
}